.headerContainer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  /* background-color: #3453ad; */
  width: 61%;
  /* text-align: center; */
  margin: -20px auto -80px;
}

.title {
  text-align: center;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 100px;
}

.selectionBoxContainer {
  display: flex;
}

.selectionBox {
  margin: 0 50px;
}

.selection {
  /* background-color: white; */
  height: 40px;
  font-size: 1em;
  border-radius: 6px;
  background-color: rgb(215, 213, 213);
}

@media (max-width: 576px) {
  .headerContainer {
    align-items: center;
    flex-direction: column;
  }
  .selectionBoxContainer {
    flex-direction: column;
    text-align: center;
  }
  .selectionBox {
    margin-top: 20px;
  }
  .backgroundContainer {
    background-color: rgb(215, 213, 213);
    width: 130%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .headerContainer {
    align-items: center;
    flex-direction: column;
  }
  .selectionBoxContainer {
    flex-direction: column;
    text-align: center;
  }
  .selectionBox {
    margin-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .title {
    min-width: 35%;
  }
  .headerContainer {
    align-items: end;
    padding: 10px 0 10px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .title {
    min-width: 45%;
  }
  .headerContainer {
    align-items: end;
    padding: 20px 0 0px;
  }
}

@media (min-width: 1201px) {
  .title {
    min-width: 45%;
    font-size: 1.6rem;
  }
  .headerContainer {
    align-items: end;
    padding: 20px 0 0px;
  }
}
